/*
______________BASE, FIXES______________
*/
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;
}

/* user agent stylesheet resets  */
p, h1, ul, ol, h1, h2, h3, blockquote {
	-webkit-margin-before: 0;
  	-webkit-margin-after: 0;
}
blockquote {
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
}
ul, ol {
	-webkit-padding-start: 0;
}

/*   http://nicolasgallagher.com/micro-clearfix-hack/   */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

/*
_________________________________ Menu _________________________________
*/
.menu-button {
  position: absolute;
  right: 0;
  top: 0;
}
a.menu-button {
  display: block;
  width: 128px;
  height: 45px;
  text-align: center;
  text-decoration: none;
  background-color: #dde2e7;
}
.menu-button::before {
  content: 'Menu';
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  line-height: 3.1;
  color: #0a4815;
}
.menu-button div {
  width: 21px;
  height: 19px;
  padding: 13px 12px;
  float: right;
  background: #0a4815;
}
.menu-button div::before,
.menu-button div::after {
  display: block;
  content: '';
  height: 5px;
  border-top: 3px solid #fff;
}
.menu-button div::after {
  border-bottom: 3px solid #fff;
}
.menu-button.menu-close {
    display: none;
}
.menu {
  display: none;
  font-size: 1.6em;
}
#menu-target:target .menu-close,
#menu-target:target .menu {
  display: block;
}



/*
_________________________________ Header _________________________________
*/
.logo {
  padding: 20px;
}

header {
  margin-left: 10px;
}

header h1 {
  font-size: 3.4em;
  color: #0a4815;
  letter-spacing: 3px;
  font-variant: small-caps;
  line-height: 110%;
}

a {
  text-decoration: none;
}

header p {
  font-family: 'Georgia';
  font-style: italic;
  font-size: 1.4em;
  color: #696d71;
}

.pdf {
  font-size: 1.4em;
  background: #dde2e7;
  line-height: 48px;
  height: 48px;
  margin-top: 30px;
  margin-right: 10px;
}

.pdf img {
  padding: 10px;
  float: left;
}

.pdf a {
  color: #575b60;
  padding: 10px;
}

span {
  color: #0a4815;
  font-weight: bold;
}

/*
_________________________________ Main _________________________________
*/

.highlight {
  margin-top: 30px;
}


.letters li {
  float: left;
  list-style: none;
  width: 300px;
  height: 100px;
  background: green;
  margin: 5px;
}

article {
  clear: both;
  font-size: 1.4em;
  line-height: 1.4;
}

article p {
  margin: 0 0 1.5em;
}

article h1 {
  font-size: 2.4em;
  font-weight: 400;
  line-height: 1.17;
  margin-bottom: 35px;
}

.status {
  font-size: 1.8em;
  text-transform: uppercase;
  margin: 30px 10px 15px 10px;
}

.status a {
  text-decoration: none;
}

.events {
  margin: 30px 10px 15px 10px;
  font-size: 1.8em;
  text-transform: uppercase;
}

/*
_________________________________ Footer _________________________________
*/

.footer-wrapper {
  background-color: #ccd1d6;
  width: 100%;
}
.site-footer {
  box-sizing: border-box;
  color: #565a60;
  font-size: 1.3em;
  line-height: 1.35;
  margin: 80px 0 0;
  padding: 30px 10px 60px;
}
.footer-info {
  margin-bottom: 40px;
}
.footer-link {
  color: #565a60;
  text-decoration: underline;
}
.footer-link:hover,
.footer-link:active {
  color: #000;
}
.line-before::before {
  content: '_';
  display: block;
  text-decoration: none;
}
.hon-code img {
  float: left;
  margin: -2px 20px 0 0;
}
.line-break-before::before {
  content: '';
  display: block;
}

/*
_________________________________ Content page sections _________________________________
*/
main.contentpage {
  margin: 60px 10px 0;
}


/*
================================= BREAKPOINT 960px =================================
*/


@media screen and (min-width: 960px) {
  body {
    width: 100%;
  }
  .wrapper {
    width: 960px;
    margin: 0 auto;
  }
  .logo {
    float: left;
  }

  .headertext {
    float: left;
    width: 530px;
    margin-left: 30px;
    }

  header h1 {
    margin-top: 30px;
    letter-spacing: 4px;
    text-align: center;
  }

  header p {
    margin-left: 100px;
    margin-top: 30px;
    letter-spacing: 1px;
  }

  .pdf {
    float: right;
    width: 150px;
    height: 150px;
    margin: 15px;
  }

  .pdf img {
    clear: both;
    margin: 20px 45px 0 45px;
  }

  .pdf a {
    margin: 10px;
  }

  /*
  _________________________________ Main _________________________________
  */

  main {
    width: 960px;
    margin: 0 auto;
    height: 100%;
  }

  .highlight {
    width: 960px;
    height: 340px;
  }

  ul {
    float: left;
    -webkit-padding-start: 0px;
  }

  .letters li {
    list-style: none;
    position: relative;
    z-index: 1;
    width: 230px;
    height: 320px;
    /*dev*/background: green;
    margin-left: 5px;
    margin-right: 5px;
    }


  article {
    clear: both;
    float: left;
    width: 610px;
    height: 630px;
  }

  article p {
    font-size: 1.6rem;
  }

  article h1 {
    font-size: 3.6rem;
    font-weight: 400;
  }

  aside {
    float: right;
  }

  .status {
    width: 300px;
    height: 100px;
    /*dev*/background: #ccc;
  }

  .events {
    /*dev*/background: green;
    width: 300px;
    height: 450px;
  }

  /*
  _________________________________ Menu _________________________________
  */

  /* dropdown menu */
  .menu ul ul {
    display: none;
  /*dev*/ font-size: 0.8em;
  }
  .menu li:hover * {
  display:block;
  }
  a.menu-button {
  display: none;
  }
  .menu {
    display: block;
    font-size: 1.6em;
    width: 100%;
  }
  .menu > ul > li {
  box-sizing: border-box;
  display: block;
  width: 137px;
  float: left;
  text-align: center;
  }

  /*
  _________________________________ Footer _________________________________
  */
  .site-footer {
    margin: 70px auto 0;
    width: 960px;
  }
  .footer-info,
  .hon-code {
    float: left;
  }
  .footer-info {
    margin: 0 40px 0 0;
    width: 600px;
  }
  .hon-code {
    width: 300px;
  }
  .last-updated,
  .footer-domain {
    display: inline;
  }
  .last-updated::before {
    content: '- '
  }
  .line-before {
    display: inline;
  }
  .line-before::before {
    content: '';
    display: none;
  }
  .contact-mailto {
    margin-left: 20px;
  }

  /*
  _________________________________ Content page sections _________________________________
  */
  main.contentpage {
    float: none;
    margin: 80px auto 0;
    width: 800px;
  }
  .contentpage article {
    clear: both;
    float: none;
    width: auto;
    height: auto;
  }

}