/*
______________BASE, FIXES______________
*/
html {
  color: #33383d;
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;
}

/* user agent stylesheet resets  */
p, h1, ul, ol, h1, h2, h3, blockquote {
	-webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
blockquote {
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
}
ul, ol {
	-webkit-padding-start: 0;
}

/*   http://nicolasgallagher.com/micro-clearfix-hack/   */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

/* average text-links */
a {
  border: none;
  color: #52975e;
  font-weight: 700;
  text-decoration: none;
}
a:hover {
  color: #0a4815;
}

/*
_________________________________ Menu _________________________________
*/
.menu {
  background: #0a4815;
  position: absolute;
  right: 10px;
  text-align: center;
  top: 55px;
  width: 93%;
  max-width: 310px;
}
.menu a {
  color: white;
  font-weight: 600;
}
.menu ul {
  display: block;
  list-style-type: none;
}
.menu > ul > li > a,
.menu li li a {
  display: block;
  height: 35px;
  font-weight: 300;
  position: relative;
  padding-top: 10px;
}
.menu li li a {
  border-bottom: 1px solid #2e703a;
}
.menu li ul li:first-child a,
.menu li ul li:last-child a {
  border-bottom: 0;
}
.menu > ul > li > a {
  background-color: #52975e;
  border-top: 1px solid #0a4815;
  font-weight: 600;
  height: 42px;
  padding-top: 18px;
}
.menu > ul li:first-child > a {
  border-top: 0;
}
.menu ul ul {
  margin-top: -45px;  /*az almenu elso li eleme valamiért dupla magas azért kell ez de nem értem a szitut*/
}
.menu-button {
  position: absolute;
  right: 10px;
  top: 10px;
}
a.menu-button {
  background-color: #dde2e7;
  display: block;
  height: 45px;
  text-align: center;
  text-decoration: none;
  width: 128px;
}
.menu-button::before {
  color: #0a4815;
  content: 'Menu';
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  line-height: 3.1;
}
.menu-button div {
  background: #0a4815;
  float: right;
  height: 19px;
  padding: 13px 12px;
  width: 21px;
}
.menu-button div::before,
.menu-button div::after {
  content: '';
  border-top: 3px solid #fff;
  display: block;
  height: 5px;
}
.menu-button div::after {
  border-bottom: 3px solid #fff;
}
.menu-button.menu-close {
  display: none;
/*  width: 93%;
  max-width: 310px;*/
}

.menu {
  display: none;
  font-size: 1.6em;
}
#menu-target:target .menu-close,
#menu-target:target .menu {
  display: block;
}




/*
_________________________________ Header _________________________________
*/
.logo {
  padding: 20px;
}

.site-header  {
  margin-left: 10px;
}

.site-header  h1 {
  font-size: 3.4em;
  color: #0a4815;
  letter-spacing: 3px;
  font-variant: small-caps;
  line-height: 110%;
}

.site-header  p {
  color: #696d71;
  font-family: 'Georgia';
  font-size: 1.4em;
  font-style: italic;
}

.pdf {
  background: #dde2e7;
  font-size: 1.4em;
  height: 48px;
  line-height: 48px;
  margin-right: 10px;
  margin-top: 30px;
}

.pdf img {
  float: left;
  padding: 10px;
}

.pdf a {
  color: #575b60;
  padding: 10px;
}

span {
  color: #0a4815;
  font-weight: bold;
}

/*
_________________________________ Main _________________________________
*/

.highlight {
  margin-top: 30px;
}

.letters li {
  background: green;
  float: left;
  height: 100px;
  list-style: none;
  margin: 5px;
  width: 300px;
}

article {
  clear: both;
  font-size: 1.4em;
  line-height: 1.4;
}

article p {
  margin: 0 0 1.5em;
}

article h1 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.17;
  margin-bottom: 35px;
}

.status {
  font-size: 1.8em;
  margin: 30px 10px 15px 10px;
  text-transform: uppercase;
}

.events {
  font-size: 1.8em;
  margin: 30px 10px 15px 10px;
  text-transform: uppercase;
}

/*
_________________________________ Footer _________________________________
*/

.footer-wrapper {
  background-color: #ccd1d6;
  width: 100%;
}
.site-footer {
  box-sizing: border-box;
  color: #565a60;
  font-size: 1.3em;
  line-height: 1.35;
  margin: 80px 0 0;
  padding: 30px 10px 60px;
}
.footer-info {
  margin-bottom: 40px;
}
.footer-link {
  color: #565a60;
  text-decoration: underline;
}
.footer-link:hover,
.footer-link:active {
  color: #000;
}
.line-before::before {
  content: '_';
  display: block;
  text-decoration: none;
}
.hon-code img {
  float: left;
  margin: -2px 20px 0 0;
}
.line-break-before::before {
  content: '';
  display: block;
}

/*
_________________________________ Content page sections _________________________________
*/
main.contentpage {
  margin: 60px 10px 0;
}

.contentpage h2 {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.2;
  margin: 2.75em 0 1em;
}

/* __ Info Box __ */
.info-box {
  background-color: #eef3f8;
  border: 1px solid #dde2e7;
  color: #666b70;
  font-size: 0.9em;
  margin: 2.75em 0;
  padding: 15px;
}
.info-box p {
  font-size: 1em;
}
.info-box p:last-child {
  margin-bottom: 0;
}
.info-box ul {
  list-style: none;
}
.info-box h3 {
  font-size: 1.1em;
  font-weight: bold;
  margin: 5px 0 8px;
  text-transform: uppercase;
}

/* __ HIGHLIGHTED Info Box __ */

.info-box-highlighted {
  background-color: #bcdbc1;
  border-color: #a8cbae;
  color: #3e4247;
}

/* __ Address Box __ */

.address-box {}

/* __ Alert __ */

.alert-box {
  background-color: #aa4b4b;
  border-color: #aa4b4b;
  color: #fff;
  text-align: center;
  padding: 15px 10%;
}
.alert-box strong {
  font-weight: normal;
}

/* Content ul & ol */

.content-ul,
.content-ol {
  font-size: 1em;
  list-style-position: outside;
  margin: -0.2em 2em 1.5em;
}
.content-ul {
  list-style-type: square;
}
.content-ul li,
.content-ol li {
  margin-bottom: 0.2em;
}



/*
================================= BREAKPOINT 960px =================================
*/


@media screen and (min-width: 960px) {
  body {
    width: 100%;
  }
  .wrapper {
    margin: 0 auto;
    width: 960px;
  }
  .logo {
    float: left;
  }

  .headertext {
    float: left;
    margin-left: 30px;
    width: 530px;
  }

  header h1 {
    letter-spacing: 4px;
    margin-top: 30px;
    text-align: center;
  }

  header p {
    letter-spacing: 1px;
    margin-left: 100px;
    margin-top: 30px;
  }

  .pdf {
    float: right;
    height: 150px;
    margin: 15px;
    width: 150px;
  }

  .pdf img {
    clear: both;
    margin: 20px 45px 0 45px;
  }

  .pdf a {
    margin: 10px;
  }

  /*
  _________________________________ Main _________________________________
  */

  main {
    height: 100%;
    margin: 0 auto;
    width: 960px;
  }

  .highlight {
    height: 340px;
    width: 960px;
  }

  .highlight ul {
    float: left;
  }

  .letters li {
    /*dev*/background: green;
    height: 320px;
    list-style: none;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    width: 230px;
    z-index: 1;
  }


  article {
    clear: both;
    float: left;
    height: 630px;
    width: 610px;
  }

  article p {
    font-size: 1.6rem;
  }

  article h1 {
    font-size: 3.6rem;
    font-weight: 400;
  }

  aside {
    float: right;
  }

  .status {
    /*dev*/background: #ccc;
    height: 100px;
    width: 300px;
  }

  .events {
    /*dev*/background: green;
    height: 450px;
    width: 300px;
  }

  /*
  _________________________________ Menu _________________________________
  */


  .menu {
    background: #0a4815;
    position: static;
    right: 10px;
    text-align: center;
    top: 55px;
    width: 100%;
    max-width: 100%;
  }

  /* dropdown menu */
    .menu ul ul {
    background: yellow;
    display: none;
    /*dev*/ font-size: 0.8em;
    z-index: 100;
  }
  .menu > ul > li {
    position: relative;
  }
  .menu > ul > li:hover ul {
    display: block;
    position: absolute;
    top: 15px; /*ezt majd be kell állítani pontosan*/
  }
  a.menu-button {
    display: none;
  }
  #menu-target:target .menu-close  {
    display: none;
  }
  #menu-target:target .menu {
    background: yellow;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
  }
  .menu {
    display: block;
    font-size: 1.6em;
    width: 100%;
  }
  .menu > ul > li {
    box-sizing: border-box;
    display: block;
    float: left;
    text-align: center;
    width: 137px;
  }

  /*
  _________________________________ Footer _________________________________
  */
  .site-footer {
    margin: 70px auto 0;
    width: 960px;
  }
  .footer-info,
  .hon-code {
    float: left;
  }
  .footer-info {
    margin: 0 40px 0 0;
    width: 600px;
  }
  .hon-code {
    width: 300px;
  }
  .last-updated,
  .footer-domain {
    display: inline;
  }
  .last-updated::before {
    content: '- '
  }
  .line-before {
    display: inline;
  }
  .line-before::before {
    content: '';
    display: none;
  }
  .contact-mailto {
    margin-left: 20px;
  }

  /*
  _________________________________ Content page sections _________________________________
  */
  main.contentpage {
    float: none;
    margin: 80px auto 0;
    width: 800px;
  }
  .contentpage article {
    clear: both;
    float: none;
    width: auto;
    height: auto;
  }

  /* __ Info Box __ */

  .info-box {
    font-size: 1em;
    padding: 15px 20px;
  }

  .info-box h3 {
    font-size: 1.1em;
    margin: 5px 0 8px;
  }

  /* __ Address Box __ */

  .address-box {
    display: inline-block;
    margin-top: 1em;
  }

  /* __ Alert __ */

  .alert-box {
    padding: 15px 12%;
  }

  /* Content ul & ol */

  .content-ul,
  .content-ol {
    font-size: 1.6rem;
    margin: -0.5em 2.5em 1.5em;
  }

}
